body {
  background-color: #1e1f21;
}
.container {
  display: flex;
  position: relative;
  background-color: #3a3b3d;
  width: 770px;
  height: 430px;
  padding: 10px;
  align-items: center;
}
.container > img {
  z-index: 1;
  position: absolute;
  width: 700px;
}
.container > canvas {
  z-index: 1;
  position: absolute;
}

#myCanvas {
  position: absolute;
  background-size: 100% 100%;
}

.canvasCursor {
  cursor: pointer;
}
